nav {
  width: 100vw;
  height: max-content;
  padding-top: 0.5rem;
  background: rgb(10, 10, 10);
}

html {
  font-size: 62.5%;
}

.logo {
  color: rgba(255, 114, 0, 0.87);
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px;
  margin-right: 10rem;
}

.menu {
  width: max-content;
  float: right;
  height: 70px;

  display: flex;

  position: relative;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-right: 3rem;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #ff7200;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #fff;
  cursor: pointer;
}

.menu .nav-profile-btn {
  height: 3.5rem;
}

/* .menu .profile-box {
  padding: 0.6rem;
  border-radius: 1.2rem;
  height: 1.6rem;
} */

.menu .profile-box {
  padding: 6px;
  border-radius: 1em;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.08);
  margin-bottom: 1em;
}

.drop-down-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 10%;
  right: 2%;
  width: 35rem;
  border-radius: 1.2rem;
  z-index: 99;
  box-shadow: 5px 5px 3rem rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
}

.drop-down-wrapper .drop-down-menu {
  width: 100%;
  padding: 2rem;
}

.drop-down-wrapper .drop-down-menu .user-info {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: 15px;
}

.drop-down-wrapper .drop-down-menu .user-info h3 {
  font-size: 2.5rem;
  color: #000;
}

.drop-down-wrapper .drop-down-menu .user-info .drop-down-img {
  padding: 5px;
  border-radius: 1.2rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.15);
}

.drop-down-wrapper hr {
  margin: 10px 0 10px 0;
  height: 1px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.15);
}

.drop-down-wrapper .drop-down-menu a {
  text-decoration: none;
}

.drop-down-wrapper .drop-down-menu p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.8);
}

/* Wallet section */

.wallet .wallet-balance {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 8px;
  border-top: rgba(0, 0, 0, 0.15);
  border-left: rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 0 1rem 1.8rem 1rem;
}

.wallet-balance h2 {
  font-size: 2rem;
}

.wallet-balance .wallet-balance-money {
  font-size: 3rem;
  color: #000;
}

.wallet .add-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-add-money-button {
  padding: 5px 1rem;
  border-radius: 6px;
  border: none;
  width: 50%;
  font-size: 1.8rem;
  font-weight: 500;
  background-image: linear-gradient(to left, #fa4299, #a445b2, #fa4299);
  color: #fff;
  cursor: pointer;

  transition: all 0.4s;
  background-size: 200%;
  margin-bottom: 2.8rem;
}

.wallet-add-money-button:hover {
  background-position: right;
}

.hidden {
  display: none;
  pointer-events: none;
}

.wallet .money-tkn-container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
}

.wallet .money-tkn-container .money-tkn {
  padding: 1rem;
  font-size: 1.6rem;
}

/* Intro booking section  */

.intro-booking-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.277);
  backdrop-filter: blur(3px);
  column-gap: 4.5rem;

  margin: 20rem 30rem;
  border-radius: 1.2rem;
}

.intro-booking-section .intro-container {
  display: flex;
  align-items: center;
  position: relative;

  box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.277);
}

.intro-booking-section .intro-container input {
  border: none;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 2rem;
  outline: none;
  text-indent: 13px;
  border-radius: 10px;
  cursor: pointer;
}

.intro-booking-section .intro-container span {
  position: absolute;
  color: #222;
  left: 20%;
  font-size: 2.2rem;
  font-weight: 500;
  transition: all 0.3s;
}

.intro-booking-section .intro-container input:valid ~ span,
.intro-booking-section .intro-container input:focus ~ span {
  color: rgba(255, 114, 0, 0.87);
  transform: translate(-18%, -70%);
  font-size: 1.8rem;
}

.intro-booking-container i {
  position: absolute;
  left: 3%;
  z-index: 99;
  color: #000;
}

.intro-booking-container hr {
  margin: 0 10px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.intro-booking-container .intro-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.intro-booking-container .intro-date-container label {
  font-size: 2.2rem;
}

#dateInput {
  padding: 2rem;
  border: none;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.intro-search-buses {
  padding: 2rem;
}

.intro-search-buses h2 {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 2rem;
  background-image: linear-gradient(to left, #fa4299, #a445b2, #fa4299);
  border-radius: 1.2rem;

  background-size: 200%;

  transition: all 0.3s;
}

.intro-search-buses h2:hover {
  background-position: right;
}
