nav {
  width: 100vw;
  height: max-content;
  padding-top: 0.5rem;
  background: rgb(10, 10, 10);
}

.logo {
  color: rgba(255, 114, 0, 0.87);
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px;
  margin-right: 10rem;
}

.menu {
  width: max-content;
  float: right;
  height: 70px;

  display: flex;

  position: relative;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-right: 3rem;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #ff7200;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #fff;
  cursor: pointer;
}

.menu .nav-profile-btn {
  height: 1.6rem;
}

.menu .profile-box {
  padding: 6px;
  border-radius: 1em;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.08);
  margin-bottom: 1em;
}

.drop-down-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 10%;
  right: 2%;
  width: 350px;
  border-radius: 12px;
  z-index: 99;
  box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease-in-out;
}

.drop-down-wrapper .drop-down-menu {
  width: 100%;
  padding: 20px;
}

.drop-down-wrapper .drop-down-menu .user-info {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: 15px;
}

.drop-down-wrapper .drop-down-menu .user-info h3 {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.drop-down-wrapper .drop-down-menu .user-info .drop-down-img {
  padding: 5px;
  border-radius: 12px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.drop-down-wrapper .drop-down-menu hr,
.wallet-wrapper .wallet hr {
  margin: 10px 0 10px 0;
  height: 1px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.15);
}

.drop-down-wrapper .drop-down-menu a {
  text-decoration: none;
}

.drop-down-wrapper .drop-down-menu p {
  color: rgba(0, 0, 0, 0.8);
}

/* Wallet section */
.wallet-wrapper {
  width: 350px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(2px);
  z-index: 99;
  border-radius: 12px;

  position: absolute;
  top: 38%;
  right: 2%;
  /* Positioned absolutely with respect to nav  */

  /* display: flex; */
  /* justify-content: center; */

  padding: 10px;
}

.wallet-wrapper .wallet .wallet-balance {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 8px;
  border-top: rgba(0, 0, 0, 0.15);
  border-left: rgba(0, 0, 0, 0.15);
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

.wallet-wrapper .wallet-balance .wallet-balance-money {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
}

.wallet-wrapper .wallet-options {
  display: flex;
  align-items: center;
  overflow: hidden;

  transition: all 0.3s ease;
}

.wallet-wrapper .wallet-options button {
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  width: 50%;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

  transition: all 0.3s ease;
}

.wallet-button-active {
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  color: #fff;
  width: 100%;
}